body{
	background:url(http://www.rodapresamg.com.br/images/backgrounds/bg_image5.jpg);
	background-size: cover;
}

img{
	display: block;
  margin-top: 25px;
}

*{
	margin: auto;
}

h1{
	text-align: center;
	color:#E3D21E;
	font-size: 65px;
  margin-top: 25px;
}

h2{
	text-align: center;
	color:#7A7D1D;

}

h3{
	margin-top:20px;
	text-align: center;
	color:#7A7D1D;
	font-size: 22px;
	text-decoration:underline;
}
